ack.vim
Align
a.vim
badwolf
Better-CSS-Syntax-for-Vim
bufexplorer.zip
ctrlp.vim
gnupg.vim
html5.vim
indenthtml.vim
inkpot
jellybeans.vim
molokai
nerdtree
nginx-vim-syntax
paredit.vim
puppet-syntax-vim
scss-syntax.vim
scvim
seoul256.vim
syntastic
taglist.vim
tcomment_vim
vilight.vim
vim-characterize
vim-clojure-static
vim-coffee-script
vim-colors-solarized
vim-distinguished
vim-fireplace
vim-fugitive
vim-gitgutter
vim-javascript
vimoutliner
vim-pandoc
vim-repeat
vim-slime
vim-speeddating
vim-surround
vim-vividchalk
VOoM
votl
Zenburn
rainbow_parentheses.vim/
rust.vim/
vim-arduino/
vim-tbone/
vim2hs/
julia-vim/
rust.vim/
wildfire.vim/
vim-openscad/
vim-vinegar/
vim-openscad/
Dockerfile.vim
dockerfile.vim
fakeclip.neovim/
ghcmod-vim/
haskellmode-vim/
neco-ghc/
psc-ide-vim/
vim-hdevtools/
vim-ruby/
vim-typedclojure/
vimproc.vim/
